.git
.gitignore
__pycache__/
venv/
*.pyc
*.pyo
*.pyd
.Python
.DS_Store
.vscode/
.idea/
*.log
frontend/node_modules
frontend/.next
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.dockerignore
Dockerfile
docker-compose.yml
README.md 