# MongoDB Configuration
MONGO_URI=

# Ollama Configuration
OLLAMA_HOST=host.docker.internal
OLLAMA_REQUEST_TIMEOUT=600
CONCURRENT_REQUESTS=2
OLLAMA_NUM_PARALLEL=2

# AWS Configuration
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# S3 Configuration
S3_BUCKET_NAME=

# SQS Configuration
#SQS_QUEUE_URL=
SQS_DLQ_URL=

# Processing Configuration
PROCESSING_TIMEOUT=900  # 15 minutes
MAX_RETRY_ATTEMPTS=3